<?xml version="1.0"?>
<robot name="elp_stereo_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:property name="BOARD_THICKNESS" value="0.002" />
  <xacro:property name="LENS_LENGTH" value="0.014" />

  <xacro:macro
    name="elp_stereo_camera"
    params="name interocular:=0.0515214 left_optical_frame:=camera_infra1_optical_frame right_optical_frame:=camera_infra2_optical_frame">
    <link name="${name}">
      <visual>
        <geometry>
          <box size="0.002 0.070 .016" />
        </geometry>
        <origin xyz="0.001 0 0" />
        <material name="gray">
          <color rgba="0.1 0.1 0.1 1" />
        </material>
      </visual>
    </link>

    <link name="${left_optical_frame}" />
    <link name="${right_optical_frame}" />

    <joint name="${name}_to_${left_optical_frame}" type="fixed">
      <parent link="${name}" />
      <child link="${left_optical_frame}" />
      <origin
        xyz="${BOARD_THICKNESS/2 + LENS_LENGTH} ${interocular/2} 0"
        rpy="${-M_PI/2} 0 ${-M_PI/2}" />
    </joint>

    <joint name="${name}_to_${right_optical_frame}" type="fixed">
      <parent link="${name}" />
      <child link="${right_optical_frame}" />
      <origin
        xyz="${BOARD_THICKNESS/2 + LENS_LENGTH} ${-interocular/2} 0"
        rpy="${-M_PI/2} 0 ${-M_PI/2}" />
    </joint>
  </xacro:macro>
</robot>
